body {
  margin: 0;
  padding: 0;
}

.container {
  justify-content: center;
  margin: 10rem 35% auto 35%;
  padding: 10px 40px auto 40px;
  text-align: center;
  background-color: rgb(18, 18, 18);
  border-radius: 12px;
}

#display {
  width: 100%;
  height: 80px;
  padding: 10px 15px;
  font-size: 28px;
  text-align: right;
  border: none;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  color: #ffffff;
  box-sizing: border-box;
}

#calculate {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 10px;
}

button {
  border: none;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: white;
}

.number {
  background-color: gray;
}

.btn-bagi,
.btn-kali,
.btn-kurang,
.btn-tambah {
  background-color: rgb(90, 90, 90);
}

.btn-total {
  background-color: rgb(103, 144, 210);
  grid-column: span 3;
  font-size: 28px;
}

.hapus {
  background-color: rgb(74, 74, 74);
  color: white;
}

button:hover {
  background-color: #555;
}
